<div class="container" *ngIf="apiResponse$ | async as res; else loading">
    <div class="grid" *ngIf="currentIndex < res.length; else complete">
      <article class="headings">
        <h2>{{res[currentIndex].category || res[currentIndex].tags[0].name}}</h2>
        <hr>
        <br>
        <h3>{{res[currentIndex].question}}</h3>
      </article>
      <fieldset>
        <div *ngFor="let answers of res[currentIndex].answers | keyvalue">
          <label for="{{answers.key}}" *ngIf="answers.value">
            <input [type]="res[currentIndex].multiple_correct_answers ? 'radio' : 'checkbox'" name="quizz-answers"
              [value]="answers.value" [id]="answers.key" (change)="selectAnswer($event)">
            {{answers.value}}
          </label>
        </div>
      </fieldset>

      <nav>
        <ul>
          <li>
            <button type="button" class="secondary" [disabled]="currentIndex < 1" (click)="Return()">
              Anterior
            </button>
          </li>
          <li>
            <span>
              {{currentIndex + 1}} / {{res.length}}
            </span>
          </li>
          <li>
            <button type="button" (click)="Proceed(res[currentIndex])">
              {{currentIndex + 1 < res.length ? 'Próximo' : 'Finalizar' }} </button>
          </li>
        </ul>
      </nav>

      <span *ngIf="noneSelected">Selecione algum campo.</span>
    </div>

    <ng-template #complete>
      <div class="quiz-result">
        <h5>Quizz completado!</h5>
        <hr>
        <br>
        <h6>
          Você acertou {{correctAnswerAmount}} de {{res.length}} questões
        </h6>
        <button type="button" [routerLink]="'/'">Voltar à tela principal</button>
      </div>
    </ng-template>
</div>

<ng-template #loading>
  <article aria-busy="true">
    Loading...
  </article>
</ng-template>
